
@{
    ViewBag.Title = "memberForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div style="background-color:lightblue">
            <center>
                <h2>&nbsp;&nbsp;&nbsp;<b>MEMBERSHIP REGISTRATION</b></h2>
            </center>
        </div>

        <p style="color:red;"> * Please carefully complete the form below to facilitate your Gymkhana Club Exclusive Membership.<br />
        * All Fields having (*) are mandatory.</p>



        <div class="card container">
            <div class="row">
                <div class="card-header col-lg-12 col-md-12">
                    <strong>Member Information</strong>
                </div>
                <div class="card-body col-lg-12 col-md-12">
                    <label>*Select type of Membership</label>
                    <select class="form-control">
                        <option value="">Regular</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*First Name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*Last Name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*Date of Birth</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*Marital Status</label>
                    <select class="form-control">
                        <option value="">Married</option>
                        <option value="">Single</option>
                        <option value="">Widow</option>

                    </select>
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>Phone</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*Mobile</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*Email id</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-body col-lg-4 col-md-12">
                    <label>*photo</label>
                    <input type="file" class="form-control" />
                </div>
            </div>
        </div>

        <br />
        <br />

        <div class="row">

            <div class="card container col-lg-5" style="margin:auto auto 50px auto;">
                <div class="row">
                    <div class="card-header col-lg-12 col-md-12">
                        <strong>Permanent Address</strong>
                    </div>
                    <div class="card-body col-lg-12 col-md-12">
                        <label>*Address</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-12 col-md-12">
                        <label>*Street Address</label>
                        <input type="text" class="form-control" />
                    </div>


                    <div class="card-body col-lg-6 col-md-12">
                        <label>*City</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>*State</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>*Country</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>*Postal Address</label>
                        <input type="text" class="form-control" />
                    </div>

                </div>
            </div>
            <div class="card col-lg-5 container" style="margin:auto auto 50px auto;">
                <div class="row">
                    <div class="card-header col-lg-12 col-md-12">
                        <strong>Mailing Address</strong>
                        (if different from Parmanent Address)
                    </div>
                    <div class="card-body col-lg-12 col-md-12">
                        <label>Address</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-12 col-md-12">
                        <label>Street Address</label>
                        <input type="text" class="form-control" />
                    </div>


                    <div class="card-body col-lg-6 col-md-12">
                        <label>City</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>State</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>Country</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="card-body col-lg-6 col-md-12">
                        <label>Postal Address</label>
                        <input type="text" class="form-control" />
                    </div>

                </div>
            </div>
        </div>





    </div>
    
</section>

