

<div class="card">
    <div class="col-lg-12 card-body">
        <div class="Membereligibility">
            <div style="margin:20px;">
                <h4>MEMORANDUM OF ASSOCIATION</h4>
                <h4>Name</h4>
                <p>1. The name of the company is the Gymkhana Club Exclusive.</p>
                <h4>Basic Code :</h4>
                <p>2.The registered office of the company will be situated is Amritsar.</p>
                <h4>Objects</h4>
                <h4>Conduct in dealing with other members :</h4>
                <p>3. All members are required to maintain proper protocol and decorum while dealing with other members. The following actions are specifically prohibited as against the code of conduct.<br> (a) Raising voice while speaking to Fellow Members or their guests.<br> (b) Using rude, impolite and unparliamentary language.<br> (c) Using threatening language.<br> (d) Involve in an assault or affray with any other member or club guests.<br> (e) Unsocial activities in public such as using of cell phones in the hearing of fellow members.<br> (f) Rash driving, blowing of horn and improper parking. Pedestrians has a right of way in the club premises.<br> 4. Display due respect and regard particularly towards senior/elderly members and ladies.<br> 5. Customary wishing should be encouraged amongst members.<br> 6. While corresponding with the club used courteous language.<br> 7. All members of the Club wear the ‘Same club tie’ Adopt a helpful attitude towards fellow members, wherever possible both inside or outside the club.</p>
                <h4>Actions with dishonest intentions :</h4>
                <p>8. All members are required to be honest in all their dealings with Club, staff and other members. Some common misdemeanours are listed below:-<br> (a) Avoiding signing of guests in registers.<br> (b) Intentionally signing of chits with wrong name and number.<br> (c) Tipping waiters and staff with intention of getting personal attention.<br> (d) Making wrong declarations, wrong scores and such like a misdemeanour in the game of cards.<br> (e) Always clear club dues in time. If there is an error in the bill, first pay and then resolve.</p>
            </div>
        </div>
    </div>
</div>