
<div class="card">
    <div class="col-lg-12 card-body">
        <div class="Membereligibility">
            <div style="margin:20px;">
                <ul>
                    <li>a) Any individual not less than 21 years of age shall be eligible for membership.</li>
                    <li>b) The application for membership is to be submitted on the prescribed form which is available in the club.</li>
                    <li>c) The application duly proposed and seconded by the Permanent Members of this club should be submitted accompanied by a crossed demand draft or cash for Rs.and Rs. in respect of Govt and non-Govt applicants respectively.</li>
                    <li>d) All applications for membership are registered under various categories as under:<br> • Govt: Only Class I Officers.<br> • Non Government<br></li>
                </ul>
             </div>
        </div>
    </div>
</div>