
<div class="card">
    <div class="col-lg-12 card-body">
        <div class="Membereligibility">
            <div style="margin:20px;">
                <table class="table" border="0">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Form Name</th>
                            <th>Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Membership Form</td>
                            <td>Rs.0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Registration Fee(Govt)</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Registration Fee(Non Govt)</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
