@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutGym.cshtml";
}




<link href="~/Content/css/about.css" rel="stylesheet" />
@*<div class="aboutus-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="aboutus-image float-left hidden-sm">
                        <img id="myImg" src="~/Content/Images/SITE PLAN .jpg" alt="site map" height="500" width="500"/>
                            </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aboutus-content ">
                            <h2>
                                <p><span>WELCOME TO ABEDESIGNS</span></p>
                                I'M The Best <span>Web Developer</span>
                            </h2>

                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                            <div class="counter ">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-counter text-center">
                                        <h2 class="counter"><span>15</span></h2>
                                        <p>YEARS OF EXPERIENCED</p>
                                    </div>

                                    <div class="single-counter text-center">
                                        <h2 class="counter"><span>100</span></h2>
                                        <p>WEBSITES COMPLETED</p>
                                    </div>

                                    <div class="single-counter text-center">
                                        <h2 class="counter"><span>5</span></h2>
                                        <p>AWARDS WON</p>
                                    </div>

                                    <div class="single-counter text-center">
                                        <h2 class="counter"><span>10</span></h2>
                                        <p>CLIENTS</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>


    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>*@


<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text" style="text-align:justify;">
                        Main objective of the club is to provide facilities for sports,
                        games and healthy recreation. To encourage the activity all
                        sports facilities are free of charge to members, Club’s Air
                        Conditioned Billiard Room has three tables, The Addiction -Card Room,
                        Table Tennis, Chess and other in-door game facilities
                        and a library. The four busy Tennis Courts are floodlit.
                        Swimming Pool with latest filtration plant and clean dressing
                        rooms has a separate Children’s Pool with coaching options.
                        Matches and competitions in Billiards-Snookers; Bridge are
                        conducted regularly every year and are open for participation
                        to all players apart from the members. The most popular is
                        the State Level Tennis Tournaments recognized by MSLTA and AITA.
                        International Billiards-Snooker Players, National Bridge Players
                        have been invited by the Club and have been happy to see the facilities.

                    </p>
                    <p class="aboutus-text" style="text-align:justify;">
                        The club has a lounge, TV Room,
                        Kitchen with Dining Room and Air Conditioned Bars,
                        state of the art pub which is the only one of its
                        kind in Nagpur. Membership to club is very selective
                        and restricted.
                    </p>
                    <a class="aboutus-more" href="#ceo">read more</a>
                </div>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">



                            <img src="~/Content/Images/work.png" width="15%" height="15%" />

                            <div class="feature-content">
                                <h4>Work with heart</h4>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">


                            <img src="~/Content/Images/reliability.png" width="15%" height="15%" />

                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">


                            <img src="~/Content/Images/customer-service (1).png" width="15%" height="15%" />

                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: dotted #66BFBF 6px; border-bottom: none; width: 4%; margin: 70px auto;" />
    <div class="container-fluid">
        <div style="margin-bottom:50px;margin-left:73px;">
            <h2 class="aboutus-title">Complete Site Map</h2>
            @*<span style="text-align:center;font-size:2rem; font-weight:bold;padding-top:20px;"><em>Complete Site Map</em></span>*@
        </div>
        <img src="~/Content/Images/SITE PLAN 2.jpg" width="100%" />

    </div>
    <hr style="border: dotted #66BFBF 6px; border-bottom: none; width: 4%; margin: 70px auto;" />
    <div class="container" id="ceo">
        <div class="row">


            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2 class="aboutus-title">CEO Speech</h2>
                <p class="aboutus-text" style="text-align:justify;">
                    I Neelmani Khemka born in year 2nd March 1958.
                    Gymkhana club is my dream project.
                    I am lawn tennis player since 45 years.
                    I remained general secretary for Punjab
                    lawn Tennis club registered office Ram Bagh,
                    Amritsar for 27 years. I am member of all the
                    4 clubs of Amritsar namely; Amritsar Club,
                    Service Club, Lumsdn Club Ram Bagh, Amritsar
                    and founder member of AGA Heritage club.
                    I have love for clubs but in the current
                    scenario in city the clubs are dying.
                    They are built since British rules and no
                    construction can be done to upgrade due to
                    heritage area. Since 35 year no new club is
                    built and average age of 67% population of
                    India below 35 years. There is no new opportunity
                    for this generation to enjoy the facility of club
                    with family and children at low cost of food and
                    the elite people of city.
                </p>

                @*<span style="text-align:center;font-size:2rem; font-weight:bold;padding-top:20px;"><em>Complete Site Map</em></span>*@
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="~/Content/Images/WhatsApp Image 2022-11-03 at 15.52.55.jpeg" style="width:100%;height:100%;" />
            </div>
        </div>
    </div>
</div>
<section id="testimonials">

    <div id="carouseltestimonials" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>Gymkhana Club Exclusive, Amritsar is one of the best Club that i have seen, nice facilities, good service and great atmosphere</h2>

                <img class="testimonial-image" src="~/Content/Images/MDsir-modified.png" alt="profile1" />
                <em>Mr. Ramesh Arora, Club Member</em>

            </div>
            <div class="carousel-item">

                <h2 class="testimonial-text">Gymkhana Club Exclusive, Amritsar is one of the best Club that i have seen, nice facilities, good service and great atmosphere</h2>
                <img class="testimonial-image" src="~/Content/Images/t3.jpg" alt="profile2" />
                <em>Mr. Aditya Arora, Club Member</em>

            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouseltestimonials" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: #6B728E;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouseltestimonials" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: #6B728E;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




</section>