@{

    Layout = "~/Views/Shared/_LayoutGym.cshtml";
}

<style>
    .contact {
        padding: 4%;
    }

    .col-md-3 {
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .contact-info {
        margin-top: 10%;
    }

        .contact-info img {
            margin-bottom: 15%;
        }

        .contact-info h2 {
            margin-bottom: 10%;
        }

    .col-md-9 {
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .contact-form label {
        font-weight: 600;
    }

    .contact-form button {
        background: #25274d;
        color: #fff;
        font-weight: 600;
        width: 25%;
    }

        .contact-form button:focus {
            box-shadow: none;
        }
    .cont {
        background-color: #fff;
        text-align: center;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }


        .cont:hover {
            background-color: #25274d;
            color: #fff;
          
        }
</style>

<section style="background-color: #25274d;">

    <div class="contact container">


        <div style="width: 100%; background: #ff9b00; text-align: center; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; ">
            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
            <h2><span style="color: black;">Contact Us</span></h2>
            <h4>We would love to hear from you !</h4>
        </div>


        <div class="row">



            <div class="col-lg-3 col-md-6">
                <div style="background-color: brown; color: #fff; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
                    <h4 style="text-align:center;">Address</h4>

                </div>
                <div class="cont">
                    <span>
                        AD Green, Opposite<br />
                        Doon International School,<br />
                        Adjoining Divya Jyoti Bhawan,<br />
                        Amritsar Pathankot Road,<br />
                        Verka,Amritsar-143501(PB)
                    </span>

                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div style="background-color: brown; color: #fff; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
                    <h4 style="text-align:center;">Call Us</h4>

                </div>
                <div class="cont">
                    <span>
                        <br />
                        +91 9877003731 (CEO)<br />
                        +91 9814052314 (Director)
                        <br />
                        <br />
                        <br />
                    </span>

                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div style="background-color: brown; color: #fff; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
                    <h4 style="text-align:center;">Office Hours</h4>

                </div>
                <div class="cont">
                    <span>
                        <br />
                        Monday to Saturday
                        <br /> From: 11:00AM to 07:00PM
                        <br />
                        <br />
                        <br />


                    </span>

                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div style="background-color: brown; color: #fff; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
                    <h4 style="text-align:center;">Email</h4>

                </div>
                <div class="cont">
                    <span>
                        <br />
                        <br />
                        info@kwalitypharma.co.in
                        <br />
                        <br />
                        <br />
                    </span>

                </div>

            </div>

        </div>
    </div>



    <div class="container contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.2882164191565!2d74.94662849083075!3d31.6533336230133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8e92672796c06ee!2sGymkhana%20Club%20Exclusive%20Amritsar!5e0!3m2!1sen!2sin!4v1669875538132!5m2!1sen!2sin" width="100%" height="600" style="border:0; border-radius:10px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>




    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                    <h2>Contact Us</h2>
                    <h4>Drop Us a Line !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="control-label col-sm-2" for="name">Enter Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" placeholder="Enter Your Name" name="name">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="control-label col-sm-2" for="mobile">Mobile:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number" name="mobile">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>