
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/_LayoutGym.cshtml";
}

<div class="midbarmain" style="margin-bottom:20px;">


    <h2 style="font-family:'Abel';font-weight:bold; text-align:center;color:orangered;margin:50px 10px;">Facilities::Gymkhana Club Exclusive, Amritsar</h2>
    <div class="container col-lg-12">

        <ul id="tabs" style="padding-bottom:3%;">
            <li class="butn" id="current"><a href="#" title="tab1">Sports</a></li>
            <li class="butn"><a href="#" title="tab2">Food &amp; Beverages</a></li>
            <li class="butn"><a href="#" title="tab3">Stay In facility</a></li>
            <li class="butn"><a href="#" title="tab4">Party Zones</a></li>
            <li class="butn"><a href="#" title="tab5">Open Air Theatre</a></li>
        </ul>

    </div>
    <div class="container">

        <div class="col-md-12" id="content">

            <div class="col-md-12" id="tab1" style="display: block;">
                <h2 style="font-family:Abel; color:cornflowerblue;text-align:center;">Sports Facilities</h2>

                <div class="clear" style="display: none;"></div>

                <h3>THE ROYAL BILLIARDS ROOM</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/1.png" align="left">
                <p align="justify">The facility happens to be as old as the building. Initially, on the ground floor it was shifted to first floor in 1990s. There are three billiard/snooker tables and they are all crafted elegantly. Timing for members is from 02:00 p.m. to 10.00 p.m. and for dependents on table no. 2 in afternoon. The most honoured player who played has been Mr. Alok Kumar an Arjuna Awardee who participated in an invitation tournament organized by the club in 2010.</p>

                <div class="clear" style="display: none;"></div>

                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/2.png" align="left">
                <h3>FOUNTAIN OF HEALTH 'THE GYM'</h3>
                <p align="justify">Powered by equipment from most valued international brands, the fitness centre is truly 'state of the art' and guarantees the most refreshing experience like never before. We have a qualified trainer who helps every member in crafting a personalized module. In keeping with the trend, "fitness" being the Mantra of life for both young and old, GCE, Amritsar has provided best infrastructure at the most affordable cost one can dream of We promise a healthy and happy environment for those who crave for fitness in style. Timings are 05:30 a.m. to 09:00 a.m. (morning) and 04:00 p.m. to 08:30 p.m. (evening).</p>
                <div class="clear" style="display: none;"></div>

                <h3>THE JOGGING TRACK</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/3.png" align="left">
                <p align="justify">Created in 1990s Jogging track is canopied by a variety of majestic flowering trees like gulmohar, amaltas, chakrasia, silver oak, silver palm etc. Its all 750 meters take you through most pictorious flower valley and other green belts of RGMC. The concept of piped music has been recently added and being appreciated by nature lovers and joggers alike.</p>

                <div class="clear" style="display: none;"></div>
                <h3>BADMINTON HALL</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/4.png" align="left">
                <p align="justify">The hall was built in year 2001 at shoe string budget under watchful supervision of Chief National Coach Mr. T.P.S. Puri and International player Mr. Vinod Vatrana. The hall is built as per international standards and houses two courts with wooden flooring. Coaching facility for children is available at fixed hours. It was inaugurated by Asian Champion and Arjuna Awardee Mr. Dinesh Khanna who also played the first game on it on 27th May 2001. Timings are 05:30 a.m. to 08:30 a.m. (morning) and 04:00 p.m. to 09:00 p.m. (evening).</p>
                <div class="clear" style="display: none;"></div>

                <h3>TABLE TENNIS</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/5.png" align="left">
                <p align="justify">An ultra modern Table Tennis hall was built in 2012 in memory of Dr. Bipin Saronwala. Synthetic flooring and air conditioning are its hallmark. It is the most prestigious addition to the RGMC sports facility and inaugurated with an invitation match by International Table Tennis star Mr. Kamlesh Mehta and other national players. Timings are 06:00 a.m. to 09:00 a.m. (morning) and 04:00 p.m. to 08:00 p.m. (evening).</p>

                <div class="clear" style="display: none;"></div>

                <h3>VOLLEYBALL</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/6.png" align="left">
                <p align="justify">Volleyball is a truly outdoor game and the ultimate test of physical and mental fitness. On demand of members it was initiated in 2005 as a club game. It has been upgraded to two courts with appropriate fencing. Timings are 05:30 a.m. to 09:00 a.m. (morning) and 04:00 p.m. to 07:30 p.m. (evening).</p>

                <div class="clear" style="display: none;"></div>

                <h3>LAWN TENNIS</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/7.png" align="left">
                <p align="justify">Been to Rolland Garros for French Open? Not needed! A visit to red clay topped tennis courts of RGMC will suffice. Tennis as sports facility came up as one of the first few facilities when the club was initiated. Initially there were eight grass courts and only four were used at a time. Gradually, considering the difficulty of maintaining the grass courts the management in 1980-1990s converted then into three gravel courts and one hard court. In 2004, it was decided to build four red clay courts designed by experts. At present it caters to a large number of members and their children. The courts are flood lit and have hosted several national and inter club tournaments. Regular coaching has ensured that many children from here have attained national level in this sports. Timings are 05:30 a.m. to 09:00 a.m. (morning) and 03:00 p.m. to 07:30 p.m. (evening).</p>

                <div class="clear" style="display: none;"></div>
                <h3>THE CARD ROOM</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/8.png" align="left">
                <p align="justify">Normal opening hours are from 12:00 p.m. to 10:00 p.m. Members are, however, permitted to play for an additional hour on due payment. The game of Rummy and Bridge are allowed and they are played in accordance with the "Law of Rummy and Bridge". Only low stakes are permitted. Several senior citizens avail of this facility for recreation.</p>

                <div class="clear" style="display: none;"></div>


                <h3>SWIMMING POOL</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/9.png" align="left">
                <p align="justify">It is one of the oldest facility of the club, reminiscent of the colonial era. It caters to about 300 members in summers on any given day. It was renovated to its current shape in 1980s when a children pool was also added. The new addition (2013) is a small pool side gym. Timings are from 05:30 a.m. to 09:00 a.m. (morning) and from 04:30 p.m. to 09:00 p.m.</p>

                <div class="clear" style="display: none;"></div>



                <h3>SQUASH</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/10.png" align="left">
                <p align="justify">Built in 1890's under the patronage of Maharaja Rajindra Singh Ji, it is one of the oldest squash courts in the country. Artisans who built it included wood craft experts from Peking (China). It has played host to several international and national players. Timings are from 05:00 a.m. to 08:30 a.m. (morning) and 05:00 p.m. to 09:00 p.m. (evening).</p>
                <div class="clear" style="display: none;"></div>

                <h3>Rules and regulations for sports facilities:</h3>

                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">All sports facilities are closed on Monday.</p>
                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Dress code is a must.</p>
                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Coaches are available in almost all facilities and they are also the supervisors for conducting the game and for the sports register.</p>
                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Hard drinks and major course meals are not permitted in sports facilities.</p>
                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Regular sports charges are Rs. 300-400 per month. Guest charges are applicable as per rules.</p>

            </div>





            <div class="col-md-12" id="tab2" style="display: none;">

                <h2 style="font-family:Abel;color:cornflowerblue;text-align:center;">Food & Beverages Facilities</h2>

                <h3>DINING HALL</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/1.png" align="left">
                <p align="justify">Constructed in 2004 it caters to about 150 people at a time and provides most panoramic view of the Cricket ground.</p>
                <div class="clear aa" style="display: none;"></div>

                <h3>PATIALA PEG - THE BAR</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/2.png" align="left">
                <p align="justify">As the century old folklore goes, RGMC the birth place of world famous 'PATIALA PEG'. Recently, renovated in Victorian style, this bar is a grand meeting place of all the bacchus lovers of Patiala for sedate and boisterous evenings alike. Our services are offered at the most reasonable price with an ambience touching regality.</p>
                <div class="clear" style="display: none;"></div>


                <h3>FAMILY DINING ROOM</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/3.png" align="left">
                <p align="justify">Upgraded in 2011, this lounge with T.V. is happy meeting place for families who love to watch the tube while savoring the delicacies.</p>
                <div class="clear" style="display: none;"></div>


                <h3>VINTAGE RESTOBAR</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/4.png" align="left">
                <p align="justify">Reminiscent of old heritage this lounge and bar continues to retain a royal splendour and has a capacity of about fifty people.</p>
                <div class="clear aa" style="display: none;"></div>


                <h3>SUNSET POINT</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/5.png" align="left">
                <p align="justify">It is situated on the balcony facing cricket stadium, it is the ideal spot for having high tea and other beverages in the evening, while watching the radiant sun in its reddish hew ready to go into a slumber.</p>
                <div class="clear" style="display: none;"></div>


                <h3>OVAL - THE LAWN</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/food/6.png" align="left">
                <p align="justify">It is probably the most cherished visual delight of the club especially in the summers. The place can cater to around 500-600 people simultaneously. It is not out of the place to say that it is manicured and maintained to near perfection. The attempts to convert it into a spacious lawn were started in 1994 when a fountain enlivened it for the first time. However, it was in 2004 when it was enlarged, and landscaped with tree-lined hillocks, mini bridge and waterfalls.Needless to say that it is the most visited place in the club and it is a pleasure to have food and combine it with the exotic experience of sitting in front of an illuminated red tiled and tilted roofed heritage building. Bonus for children is an amusement park with rides.</p>
                <div class="clear" style="display: none;"></div>

                <div class="clear" style="display: none;"></div>


                <h3>XPRESS FOOD PAVILLION</h3>

                <p align="justify">The concept is like a food street where all the eatables other than regular main courses are available including Indian and western fast food, Juice bar, regular soft drinks, tea &amp; coffee, Ice-cream, pastry and confectionary. It provides a panoramic view of the Oval lawn.</p>

                <h3>TERRACE GARDEN</h3>

                <p align="justify">BProcess of creating a terrace garden on roof top of the dining hall is in the pipeline. Once completed it will be a grand location to enjoy an evening merging into the bejewelled starry night.</p>

                <h3>JUST CHILL</h3>

                <p align="justify">BIt is a new facility being launched in March 2013 and provides a fill n chill self pick up/service zone of kool drinks for all ages.</p>




                <div class="clear" style="display: none;"></div>

                <h3>F &amp; B INFORMATION:</h3>
                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">The cousines served in the eating joints include Indian, Chinese and Continental.</p>

                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">There is no reservation permitted in the main lawn.</p>

                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Reservations are possible in Lounges (Majestic Lounge and Imperial Lounge), Flower Valley Lawn and occasionally in the main Dining Hall and Vintage Restobar.</p>

                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">Timings for all the eating joints are from 12:00 p.m. to 03:30 p.m. (for Lunch) and from 07:30 p.m. to 10:30 p.m. (for dinner). Bar timings are from 12:00 p.m. to 02:30 p.m. and from 06:00 p.m. to 10:15 p.m.</p>

                <p align="justify"><img src="https://rgmc.in/wp-content/themes/rgmc/images/check1.png" class="aa">The unique feature about most of the indoor dinning places is that you are overlooking lush green cricket ground providing immensely soothing visuals and relaxation.</p>


            </div>





            <div class="col-md-12" id="tab3" style="display: none;">
                <h2 style="font-family:Abel;color:cornflowerblue;text-align:center;">Hotel AC and Non AC Rooms Facilities</h2>
                <h3>GUEST ROOMS</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/stay/1.png" align="left">
                <p align="justify">The club has stay in facility of two rooms. It is a rare experience as they overlook D.P. cricket stadium Patiala which is reminiscent of The Oval, England. The ambience of these rooms has been taken care of and decor is traditional. The management has planned to add at least four more suites in near future. Food and beverages are available at regular club facilities. Room tariff for Members/Affiliated Clubs: Rs 1,500/- per night and for Foreign Nationals:	US$60 per night Check out time is 12:00 noon. Terms and conditions as applicable.</p>


            </div>



            <div class="col-md-12" id="tab4" style="display: none;">

                <h2 style="font-family:Abel;color:cornflowerblue;text-align:center;">Kitty Party Halls Facilities</h2>
                <h3>PARTY ZONES</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/party/3.png" align="left">
                <p align="justify">Majestic and Imperial Lounge are part of the heritage block of royal building where small parties and meetings can be held. Indoor booking for parties/meetings are also permitted in dining hall and vintage restobar. Outdoor, functions are allowed in Flower Valley Lawn close to swimming pool and also on the pool side. Loud music is not permitted. Indoor catering is by club only. Booking is strictly for club members only. Tariff plans for booking are available at club office.</p>
            </div>
            <div class="clear" style="display: none;"></div>
            <div class="col-md-12" id="tab5" style="display: none;">
                <h2 style="font-family:Abel;color:cornflowerblue;text-align:center;">Podium for Events Facilities</h2>
                <h3>OPEN AIR THEATRE</h3>
                <img src="https://rgmc.in/wp-content/themes/rgmc/club/images/openair/1.png" align="left">
                <p align="justify">
                    It's a unique step towards promoting cultural activities.
                    It's a unique step towards promoting cultural activities.
                    It's a unique step towards promoting cultural activities.Club is having huge parking space with a stage. On occasions it is converted into open air theatre where renowned artistes, singers and other performers regale audiences regularly.
                </p>

                <div class="clear aa" style="display: none;"></div>
            </div>



        </div>


    </div>





    <script src="https://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#content div").hide(); // Initially hide all content
            $("#tabs li:first").attr("id", "current"); // Activate first tab
            $("#content div:first").fadeIn(); // Show first tab content

            $('#tabs a').click(function (e) {
                e.preventDefault();
                $("#content div").hide(); //Hide all content
                $("#tabs li").attr("id", ""); //Reset id's
                $(this).parent().attr("id", "current"); // Activate this
                $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#Current').addClass('active-button');

        });
        $('.butn').on('click', function () {
           
            $('.butn').removeClass('active_button');
            $(this).addClass('active_button');
        });
    </script>

</div>
