
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutGym.cshtml";
}
<link href="~/Content/css/gallery.css" rel="stylesheet" />
<style>


    .flip-box {
        background-color: transparent;
        width: 365px;
        height: 365px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
    }

    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-box-front {
        background-color: #bbb;
        color: black;
    }

    .flip-box-back {
        background-color: #555;
        color: white;
        transform: rotateY(180deg);
    }
</style>

<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 style="margin: 30px 0; font-size: 36px; color: #42B32F; text-align: center;">Gallery</h1>
        </div>

        <div align="center">
            <button class="btn btn-default filter-button butn" data-filter="all">All</button>
            <button class="btn btn-default filter-button butn" data-filter="hdpe">Sports</button>
            <button class="btn btn-default filter-button butn" data-filter="sprinkle">Party Zones & Bird Sanctury</button>
            <button class="btn btn-default filter-button butn" data-filter="spray">Food & Beverages</button>
            <button class="btn btn-default filter-button butn" data-filter="irrigation">Hotel and Lawn</button>
        </div>
        <br />
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/food2.jfif" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Restaurant Kitchen


                        </h2>
                        <span style="margin:30px 10px 10px 10px;">
                            <p>As More Consumers Demand Less Sugar,<br /> The Food And Beverage Manufacturers Will <br />Eventually Come Into Line With What<br /> The Consumers Want.</p>
                         </span>

                    </div>
                </div>
                
            </div>
        </div>


        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/food1.jfif" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Bar & Restro


                        </h2>
                        
                        <p style="margin:30px 10px 10px 10px;">There are advantages to being<br /> a star though – you can always get a table in a full restaurant.</p>
                        
                    </div>
                </div>

            </div>



        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">


            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/Badminton.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Badminton Coats


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Badminton is a recreational and easy to learn sport that is being played in many countries. Like other sports, health benefits are also associated with badminton.</p>

                    </div>
                </div>

            </div>

         </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/birdsanctury.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Bird Sanctury


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Birds are indicators of the environment. If they are in trouble, we know we'll soon be in trouble.</p>

                    </div>
                </div>

            </div>


              </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/gymkhana Birds.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Bird Sanctury


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">It is a matter of shame that in the morning the birds should be awake earlier than you.</p>

                    </div>
                </div>

            </div>
              </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/Gymkhana Children Area.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Children Play Area


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Children need to play and have fun in order to learn and develop healthily and happily.</p>

                    </div>
                </div>

            </div>
             </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/kittyhalls.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Kitty Party Hall


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Live for today, plan for tomorrow, party tonight, party tonight.</p>

                    </div>
                </div>

            </div>
               </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/lawntennis.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Lawn Tennis Coats


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Life is like a game of tennis; you have to fight hard to earn every point, sometimes you win while sometimes you lose. It's the fear of losing that inspires us to work hard, just like tennis.</p>

                    </div>
                </div>

            </div>
                 </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/slideimage3.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Swimming Pool


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">The man who is swimming against the stream knows the strength of it.</p>

                    </div>
                </div>

            </div>
              </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/bar1.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Bar


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">There are advantages to being<br /> a star though – you can always get a table in a full restaurant.</p>

                    </div>
                </div>

            </div>
              </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/hotels.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Hotel Sitting Area


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Book your stay with us, and you’ll be happy to come back.</p>

                    </div>
                </div>

            </div>
             </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/Card room.jpg" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Card Room


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">A deck of cards isn't just a box filled with 52 pieces of cardboard. These playing cards can become your friends in a card game, your accomplices in a magic trick, and your companions in a deck collection. They can even represent something much bigger than the contents of a small box.</p>

                    </div>
                </div>

            </div>
              </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/gympics.jfif" class="img-responsive" style="width:365px; height:365px;" />
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">
                            Gymkhana Club Exclusive <br /> Fitness Club
                        </h2>
                        <p style="margin:30px 10px 10px 10px;">There’s no secret formula. I lift heavy, work hard, and aim to be the best.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/biliards.jfif" class="img-responsive" style="width:365px; height:365px;">
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Snooker Point


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">
                           
                            Learning the rules of snooker is not as difficult 
                            as some might think. This is a cue sport that requires 
                            thought, concentration, and strategy as well as a range of skills.
                        </p>

                    </div>
                </div>

            </div>
                </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/restrant.jpg" class="img-responsive" style="width:365px; height:365px;">
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Restaurant


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">Good food will always welcome you back with a smile.</p>

                    </div>
                </div>

            </div>

              </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">


                        <img src="~/Content/Images/hotel.jpg" class="img-responsive" style="width:365px; height:365px;">
                    </div>
                    <div class="flip-box-back">
                        <h2 style="padding-top:30px;">

                            Gymkhana Club Exclusive <br /> Hotel Rooms


                        </h2>

                        <p style="margin:30px 10px 10px 10px;">The room can be simple and small, but it offers everything you need to ensure your stay there is as comfortable as it can be.</p>

                    </div>
                </div>

            </div>
               </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#Current').addClass('active-button');

        });
        $('.butn').on('click', function () {

            $('.butn').removeClass('active_button');
            $(this).addClass('active_button');
        });
</script>